@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark mode handling */
@custom-variant dark (&:is(.dark *));

/* VARIABLES DEL SISTEMA (NO TOCAR) */
:root {
  --background: #ffffff;
  --foreground: #000000;
}

.dark {
  --background: #111111;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
}
